{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us" %}{% endblock %}

{% block head %}
<script type="text/javascript">
$(document).ready(function (){
    $('nav li:nth-child(4)').addClass('current');
});
</script>
{% endblock %}

{% block content %}
<section>
<h2>{% trans "About Us" %}</h2>
<p>
{% blocktrans %}
"Visaineri" is created on the basis of rules governing the tamil grammar. When a Verse is entered, it is parsed with grammar rules which we have specified in Backus-Naur format and if succeeds, the Verse will be displayed with its constituents like Character, Syllable, Word, Line, etc... in XML format.
{% endblocktrans %}
</p>
<p>
{% blocktrans %}
Visaineri is built on Python's <a href="http://pages.cpsc.ucalgary.ca/~aycock/spark/">SPARK Parser framework</a>
{% endblocktrans %}
</p>
</section>
{% endblock %}
