{% extends "themed_base.html" %}
{% load i18n %}

{% block title %}{{ author.name }}{% endblock %}

{% block slider %}
<div class="cs_wrapper">
<div class="cs_slider">
{% for verse in author.verses.all %}
<section class="cs_article">
<div class="text">
<header>{% blocktrans %}Verses written by {{ author }}:{% endblocktrans %}</header>
<pre class="verse">{{ verse.verse_text }}</pre>
<a class="readmore" href="{% url verse_detail verse.id %}">{% trans "Analysis Results" %}</a>
</div>
</section>
{% endfor %}
</div>
</div>
{% endblock %}

{% block main_article %}
<section id="biography">
<header>{{ author }} {% if request.user.is_authenticated %}{% ifequal author.id request.user.get_profile.id %}[ <a href="{% url author_edit author.id %}">{% trans "Edit" %}</a> ]{% endifequal %}{% else %}[ <a href="{% url author_edit author.id %}">{% trans "Edit" %}</a> ]{% endif %}</header>
{% if author.biography %}
{% autoescape off %}
{{ author.biography }}
{% endautoescape %}
{% else %}
{% trans "No information about the author is available." %}
{% endif %}
</section>
{% endblock %}
