{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
<section id="biography">
<h2>{{ author }} {% if request.user.is_authenticated %}{% ifequal author.id request.user.get_profile.id %}[ <a href="{% url author_edit author.id %}">{% trans "Edit" %}</a> ]{% endifequal %}{% else %}[ <a href="{% url author_edit author.id %}">{% trans "Edit" %}</a> ]{% endif %}</h2>
{% if author.biography %}
{% autoescape off %}
{{ author.biography }}
{% endautoescape %}
{% else %}
{% trans "No information about the author is available." %}
{% endif %}
</section>
<section id="author_verses">
<h2>{% blocktrans %}Verses written by {{ author }}:{% endblocktrans %}</h2>
{% autopaginate verses 5 %}
{% paginate 3 %}
<hr>
{% for verse in verses %}
<article>
<pre class="verse">
{{ verse.verse_text }}
</pre>
<a class="readmore" href="{% url verse_detail verse.id %}">{% trans "Analysis Results" %}</a>
</article>
<hr>
{% endfor %}
{% paginate 3 %}
</section>
{% endblock %}


