{% extends "themed_base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Search:" %}{{ q }}{% endblock %}



{% block head %}
<script type="text/javascript">
   $(document).ready(function (){
      $('#searchfield').attr('value', '{{ q }}');
   });
</script>
{% endblock %}

{% block content %}
{% trans "You searched for:" %} {{q}}
<section id="found_verses">
{% if found_verses %}
<h2>{% trans "Search results:" %}
{% blocktrans count found_verses|length as counter %}
Found one verse.
{% plural %}
Found {{ counter }} verses.
{% endblocktrans %}</h2>
{% autopaginate found_verses 4 %}
{% paginate %}
<hr>
{% for verse in found_verses %}
<article>
<h3><span class="author">{% if verse.author %}<a href="{% url author_detail verse.author.id %}">{{ verse.author}}</a>{% else %}({% trans "Anonymous" %}){% endif %}</span>&nbsp;{% trans "wrote," %}</h3>
<pre class="verse">
{{ verse.verse_text }}
</pre>
<a class="readmore" href="{% url verse_detail verse.id %}">{% trans "Analysis Results" %}</a>
</article>
<hr>
{% endfor %}
{% paginate %}
{% else %}
{% trans "No verse found" %}
{% endif %}
</section>
{% endblock %}
