{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ verse }}{% endblock %}

{% block content %}
<section>
<h2>{% trans "Verse" %} {% if request.user.is_authenticated %}{% ifequal verse.author.id request.user.get_profile.id %}[ <a href="{% url verse_edit verse.id %}">{% trans "Edit" %}</a> ]{% endifequal %}{% else %}[ <a href="{% url verse_edit verse.id %}">{% trans "Edit" %}</a> ]{% endif %} </h2>
<article>
<pre class="verse">{{ verse.verse_text }}</pre>
</article>
<section id="verse_details">
   <h2>{% trans "Details" %}</h2>
   <p><b>{% trans "Verse Author" %} : </b>{{ verse.author }}</p>
   <p><b>{% trans "Verse Publishing Date" %} : </b>{{ verse.publishing_date }}</p>
   <p><b>{% trans "Verse Revision Date" %} : </b>{{ verse.revision_date }}</p>
</section>
<section id="parsing_results">
    <h2>{% trans "Analysis Results" %}</h2>
    <p>{% trans "Parsing Status" %}: {{ verse.get_parsing_status_display }}</p>
    {% if verse.result %}
      <pre style="padding: 10px 50px; background-color: #eeb;">
{{ verse.result }}
      </pre>
    {% endif %}
</section>
<section id="disqus_comments">
<h2>{% trans "User Comments" %}</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://visaineri8001.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>{% blocktrans %}Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=visaineri8001">comments powered by Disqus.</a>{% endblocktrans %}</noscript>
<a href="http://disqus.com" class="dsq-brlink">{% blocktrans %}Comments powered by <span class="logo-disqus">Disqus</span>{% endblocktrans %}</a>
</section>
</section>
{% endblock %}
