{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% block title %}{% trans "Verses" %}{% endblock %}

{% block head %}
<script type="text/javascript">
$(document).ready(function (){
    $('nav li:nth-child(2)').addClass('current');
});
</script>
{% endblock %}

{% block content %}
<section>
{% autopaginate verses 5 %}
{% paginate 3 %}
<hr>
{% for verse in verses %}
<article>
<h3><span class="author">{% if verse.author %}<a href="{% url author_detail verse.author.id %}">{{ verse.author}}</a>{% else %}({% trans "Anonymous" %}){% endif %}</span>&nbsp;{% trans "wrote," %}</h3>
<pre class="verse">
{{ verse.verse_text }}
</pre>
<a class="readmore" href="{% url verse_detail verse.id %}">{% trans "Analysis Results" %}</a>
</article>
<hr>
{% endfor %}
{% paginate 3 %}
</section>
{% endblock %}
